.frame {
    width: 1000px;
    height: 700px;
    border: 2px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    background: url("../img/map.jpg") no-repeat center center fixed;
    background-size: cover;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
}

h1{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
}
h3{
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

p{
    text-align: left;
    align-self: flex-start;
    padding: 0 10%;
    color: white;
    font-size: 20px;
    width: 80%;
}


.button-menu {
    min-width: 300px;
    text-align: center;
    border-color: #9f0e0e;
    color: #000000;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    margin-top: 20px;
    padding: 8px 0 8px;
    border-radius: 35px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.button-menu:hover {
    background-color: #ddd;
    transform: scale(0.95);
}
